{% extends "base.html" %}
{% load custom_tags %}

{% block slideshow %}
      <script type="text/javascript">
        $(function() {
          slideShow(8000);
          $('.products li:odd').css({marginRight: 0});
          $('body').css({background: '#fffdf0 url({{ request.path }}/media/images/fire.png) no-repeat center 0px'});
        });
      </script>
{% endblock %}

{% block topnav %}
    {% for page in static_pages %}
      {% if page.active %}
        {% if page.homepage %}
        <li class="active">
                    <a  href="{{ request.path }}/"  tabindex="1">
                    <span>  &nbsp;&nbsp; &nbsp;&nbsp;  {{ page.title }} &nbsp;&nbsp; &nbsp;&nbsp; </span>
                    </a>
          </li>
        {% else %} 
     
            <li><a  href="{{ request.path }}/pages/{{ page.title|lower|slugify }}">
                    <span>&nbsp;&nbsp; &nbsp;&nbsp;  {{ page.title }} &nbsp;&nbsp; &nbsp;&nbsp;  </span>
                </a>
            </li>
         {% endif %}
      {% endif %}

{% endfor %}
{% endblock %}


{% block banner %}
<div class="banner">
<!--           <h1> Welcome banner </h1>-->
<ul class="slideshow">
   {% if slide_images %}
    {% for img in slide_images %}
    	<li class="show">
		<a href="#">
			<img src="{{ request.url }}/{{ img.src }}"
				 width="{{ img.width }}"
				 height="{{ img.height }}"
				 title="{{ img.title }}"
				 alt="{{ img.alt }}"/>
		</a>
	</li>
     {% endfor %}
   {% endif %}
</ul>
</div>
<!-- Right special box -->
<div class="home_side_highlight">

         {% for page_block in right_highlights %}
           {% if page_block.target_page.id == 1 %}
<!--           <h1> {{page_block.target_page.title }}  </h1>-->
           <div class="block_otherpages">
               <div class="headline">
              {{ page_block.headline }}
               </div>
                {% if page_block.image %}
               <img src="/media/{{ page_block.image }}" alt="{{ page_block.image }}" align="left"/>
               {% endif %}
               <p> {{ page_block.short_description }} </p>
           </div>
           {% endif %}



        {% endfor %}
</div>
{% endblock  %} <!-- banner -->


{% block pageblocks %}

         {% for page_block in page_highlights %}
           {% if page_block.target_page.id == 1 %}
           <div class="block">
               <div class="headline">
              {{ page_block.headline }}
               </div>

               <div class="clearfloats">
               {% if page_block.image %}
               <img src="/media/{{ page_block.image }}" alt="{{ page_block.image }}" />
               {% endif %}
               <p> {{ page_block.short_description|truncatewords:50 }} </p>               
               </div>

               <div class="readmore">
                   {% if page_block.more_link %}
               <a href="{{ page_block.more_link }}"> Read more...</a>
                   {% endif %}
               </div>

           </div>
           {% endif %}
         {% endfor %}

{% endblock %}
