{% extends "base.html" %}
{% load custom_tags %}

{% block topnav %}
    {% for page in static_pages %}
      {% if page.active %}
        {% if page_title == page.title|lower|slugify %}
        <li class ="active">
                    <a  href="{{ request.path }}/"  tabindex="1">
                    <span>  &nbsp;&nbsp;  {{ page.title }} &nbsp;&nbsp; </span>
                    </a>
          </li>
        {% else %}

            <li><a  href="{{ request.path }}/pages/{{ page.title|lower|slugify }}">
                    <span>&nbsp;&nbsp;  {{ page.title }} &nbsp;&nbsp; </span>
                </a>
            </li>
         {% endif %}
      {% endif %}

{% endfor %}
{% endblock %}



{% block banner %}

<!--<div class="banner">
           <h1> Welcome banner </h1>
</div>-->

{% endblock %}


{% block pageblocks %}
<!--{% if page_title != "contact" %}
<div class="page_highlight">
         {% for page_block in page_highlights %}
           {% if page_block.target_page.title|lower|slugify == page_title %}
           <div class="block_otherpages">
               <div class="headline">
              {{ page_block.headline }}
               </div>
               <div class="clearfloats2">
               <img src="/media/{{ page_block.image }}" alt="{{ page_block.image }}" />
               <p> {{ page_block.short_description|truncchar:500 }} </p>
               </div>
           </div>
           {% endif %}
               {%  if page_block.target_page.title|lower|slugify == "contact" %}
               {% block contact_form %}
               {% endblock %}
          {% endif %}
         {% endfor %}

</div>
{% endif %}-->
{% endblock %}

{# -------------------- main page content ----------------------- #}

{% block page_content %}


<div class="page_content">
    
           {% for page_block in page_contents %}
                      
           {% if  page_block.target_page.title|lower|slugify == page_title %}
<!--           <h1> {{page_block.target_page.title }}  </h1>-->
           <div class="block_content">
               <div class="headline">
              {{ page_block.headline }}
               </div>
               <img src="/media/{{ page_block.image }}" alt="{{ page_block.image }}" align="left"/>
               <p> {{ page_block.short_description }} </p>
           </div>
           {% endif %}


           
         {% endfor %}
       
</div>


<div class="side_highlight">

         {% for page_block in right_highlights %}
           {% if page_block.target_page.title|lower|slugify == page_title %}
<!--           <h1> {{page_block.target_page.title }}  </h1>-->
           <div class="block_otherpages">
               <div class="headline">
              {{ page_block.headline }}
               </div>
               <img src="/media/{{ page_block.image }}" alt="{{ page_block.image }}" align="left"/>
               <p> {{ page_block.short_description }} </p>
           </div>
           {% endif %}



        {% endfor %}
</div>



{% endblock %}





